html{
    box-sizing: border-box;
}
body{
    margin: 0;
    
    
}
.container{
    background-image: url(./back.jpeg); 
    height: 100vh;
    background-repeat: no-repeat; 
    display: flex;
    justify-content: center;
    align-items: center;

}
.button{
    background-color:rgb(238, 156, 211);
    border-radius: 5px;
    border: none;
    padding:5px;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 3px 5px;  

}
.button:hover{
    cursor: pointer;
    filter: brightness(130%);
}
.button:active{
    transform: translateY(50%);
}